# EditorConfig - https://editorconfig.org
# Helps maintain consistent coding style across different editors and IDEs
# This project uses Black formatter with 88-char line limit

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
line_length = 88
max_line_length = 88

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{json,toml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{sh,bash}]
indent_style = space
indent_size = 2

[.env*]
indent_style = space
indent_size = 2

[Dockerfile*]
indent_style = space
indent_size = 2

[*.txt]
indent_style = space
indent_size = 4
